.container{
    margin: 5% ;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        filter: blur(7px);
        z-index: -1;
    }
}
.login{
    margin-left: 5%;
    .username{
        border-radius: 20px;
        background:transparent;
        color: white;
        font-size: large;
    }
    .mdp{
        @extend .username;
    }
    .connexion{
        @extend .username;
        &:hover{
            background-color: #8EC1FC;
        }
    }
    center{
        font-size: x-large;
        color: white;
    }
    
}
form{
    padding: 1%;
    margin:5% 0% 0% 10%;

}