
body{
    padding: 0%;
    margin: 0%;
}
.btn{
    margin-top: 5%;
    input{
        margin-top: 2%;
    }
}
.container{
    margin-top: 5%;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px 1px #01619E;
    label{
        color: #01619E;
    }
    
}
.bar{
    background-color: #01619E;
    nav{
        margin: 0%;
        display: inline-flex;
    }
    a{
        color: white;
        padding: 5px;
        text-decoration: none;
        &:hover{
            color: red;
        }
    }
    img{
        width: 20px;
    }
   
}
.titre{
    color: black;
    font-size: 30px;
    font-weight: bolder;
   }