body{
    margin: 0%;
    padding: 0%;
}
.navigation{
background-color: #01619E;
position: sticky;
top: 0%;
width: 100%;
}
.choix{
    display: inline-flex;
}
.choix>a>img{
    width:30px;
    padding-right:7px ;
}
.choix>a{
    color: white;
    text-decoration: none;
    padding: 5px;
}
.choix>a:hover{
    background-color: navy;
    text-decoration: none;
    border-right: 1px solid white;
    border-left: 1px solid white;
    color: white;
}
th{
    background-color:#01619E ;  
    text-align: center;
}
tr{
    text-align: center;
}
table{
    margin-left: 30%;
    text-align: center;
    width: 40%; 
}
center>h2{
    color: #01619E;
}
center>strong>h4{
    color: #01619E;
}


@media(max-width:767px){
    center>h1{
        font-size: 20px;
    }
    table{
        margin-left: 10%;
    }
    .choix{
        position: absolute;
        display: inline-flex;
        flex-wrap: wrap;
        background-color: #01619E; 
        top: 15%;
        width: 100px;
        margin-left: -200%;
        
    }
    .menu{
        margin-left: 0px;
        position: relative;
    }
    .choix>a>img{
        display: none;
    }

    .toggle{
        display: block;
        top: 0;


    }
    .toggle{
        height: 30px;
        width: 30px;
        position: relative;
        cursor: pointer;
        margin-top: 5px;
        margin-right: 10px;
        background-color: #01619E;
    }
    .toggle span{
        height: 3px;
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        margin-top: 10px;
    }
    .toggle span::before{
        content: "";
        height: 3px;
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        margin-top: -5px;
    }
    .toggle span::after{
        content: "";
        height: 3px;
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        margin-top: 5px;
    }
 
}